{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content%}

<meta name="google-signin-client_id" content="821661327953-jva1j149g2arqrsrovq1hum65tp9eui4.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
    <style>
      
      .user_card {
        width: 350px;
        height: 450px;
        margin-top: 100px;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        background: #ffffff;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
        

		  }




      .btn-custom{
        background-color: #9B191D;
        border-radius: 5px;
        color: white;
      }
      .form-group.floating>label {
      bottom: 34px;
      left: 8px;
      position: relative;
      background-color: white;
      padding: 0px 5px 0px 5px;
      font-size: 1.1em;
      transition: 0.1s;
      pointer-events: none;
      font-weight: 500 !important;
      transform-origin: bottom left;
      opacity: .8;
      border-radius: 6px;
      }

.form-control.floating:focus~label{
    transform: translate(1px,-85%) scale(0.80);
    opacity: .8;
    color: #005ebf;
  }

.form-control.floating:valid~label{
    transform-origin: bottom left;
    transform: translate(1px,-85%) scale(0.80);
    opacity: .8;
  }
    </style>
    

    <div class="user_card" >
         

        <div class="row">
          <div class="col-md-3">
            <a class="btn btn-outline-dark" href="/Glogin" role="button" style="text-transform:none">
              <img width="50px" style="margin-bottom:3px; margin-right:5px;" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
              
            </a>
          </div>
        </div>
        
    </div>
  
    {% endblock %}